@import '../main';

.notecard {
    border: 1px solid black;
    box-shadow: 10px 10px;
    margin: 1rem;
    padding: 1rem;
}

.notecard > * {
    margin-bottom: 0.75rem;
}

.notecard__btn {
    background-color: transparent;
}

.notecard__btn:hover {
    box-shadow: 4px 4px;
}

.notecard__btn:active {
    background-color: $pink;
    box-shadow: 2px 2px;
    transform: translateY(2px);
}