// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

$header-font: 'Rozha One', serif;
$body-font: 'Questrial', sans-serif;

$sub-heading: 2rem;

p, h3, input, textarea, button {
    font-family: $body-font;
}

// Colours
$purple: #9B5DE5;
$pink: #da52a3;
$yellow: #FEE440;
$blue: #00BBF9;
$turquoise: #00F5D4;